@import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root {
  --primary-color: #3A7D44;    // 中国传统绿色
  --secondary-color: #9CC5A1;  // 淡雅绿色
  --accent-color: #5D3A3A;     // 中医药材色
  --background-color: #F9F5F0; // 米白色背景
  --text-color: #333333;       // 文本色
  --disabled-color: #C7C7CD;   // 禁用色
  --placeholder-color: #9B9B9B; // 占位符颜色
}
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;

  //
  --wot-search-light-bg: #f2f3f7;
  --wot-search-input-radius: 5px;
}
